* {
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
}

/* Banner Section's Styles */

.header {
    margin-top: 0;
    padding: 0;
    width: 70%;
    height: 400px;
    margin-bottom: 150px;
}

.banner {
    background-image: url('../images/banner/banner1.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 480px;
}

.banner-title {
    font-size: 40px;
    font-weight: 600;
    text-align: right;
    padding-right: 120px;
    padding-top: 120px;
    margin-bottom: 20px;
}

.banner-description {
    color: #444343;
    text-align: right;
    font-size: 10px;
    font-weight: 400;
    padding-left: 250px;
    height: 50px;
    width: 50%;
}

.banner-button {
    text-align: right;
    padding-right: 120px;
}

.contact-button {
    background-color: rgb(202, 86, 43);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 30px;
}

/* First Field Section Styles */
.first-field {
    display: flex;
    gap: 30px;
    margin: 40px 200px;
}

.image-field {
    padding-left: 50px;
}

.first-field-img {
    height: 480px;
    width: 100%;
    padding-left: 20px;
}

.first-field-text {
    padding: 20px;
    margin-bottom: 50px;
    height: 100px;
    width: 30%;
}

.first-field-title {
    font-weight: 600;
    font-size: 25px;
    margin-top: 130px;
    margin-bottom: 20px;
    /* margin-right: 10px; */

}

.first-field-prgrp {
    color: #444343;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 20px;
}

.first-field-prgrp2 {
    color: #444343;
    font-weight: 400;
    font-size: 12px;
}

.tick-mark {
    height: 10px;
    width: 3%;
}

/* Second Field Section Styles */

.second-field {
    width: 70%;
    height: 250px;
    margin-top: 80px;
    margin-bottom: 40px;

}

.second-field-title {
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

.field-boxes {
    display: flex;
    gap: 20px;
    justify-content: space-between;

}

.box {
    height: 150px;
    width: 15%;
}

.box-icon {
    width: 40%;
    height: 55px;
    padding-left: 40px;
    margin-bottom: 10px;
}

.box-title {
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 10px;
}

.box-text {
    text-align: center;
    color: #737272;
    font-weight: 500;
    font-size: 13px;
}

/* Second Field Section */
.third-field {
    width: 70%;
    height: 250px;
    background-image: linear-gradient(to right, rgba(228, 61, 11, 0.52), rgba(31, 27, 30, 0.73)), url('../images/watch.png');
    margin-bottom: 60px;
    border-radius: 5px;
}

.third-field-title {
    color: #FFFFFF;
    margin-left: 70px;
    padding-top: 60px;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
}

.third-field-button{
color: orangered;
background-color: white;
padding: 15px;
border: none;
border-radius: 5px;
margin-left: 70px;
}